In [1]:
import sqlite3

### テーブルについて

- 満たしたい仕様(ケース)
    - コメントしたユーザを識別し，過去にどのようなツイートをしたかを取得可能
    - コメントをした時刻を取得可能
    - 各ユーザに関する簡単な情報を記憶
        - 短期的な記憶と長期的記憶に分けてもOK

- 提案されるテーブル(*は主キー)
    1. User (視聴者)
        - *uid:int
            - ユーザのユニークID
        - name:str
            - ユーザーネーム
        - last:datatime
            - 最後にコメントした時刻
        - like:text
            - ユーザが好きなもの
        
    1. Comment
        - *cid:int
            - 視聴者のユニークID
        - uid:int
            - コメントしたユーザのID
        - content:text
            - コメント内容(数字正規化除く)
        - time:datatime
            - 時刻

In [2]:
import datetime
dt_now = datetime.datetime.now()

In [3]:
format_date = "%Y-%m-%d %H:%M:%S"
def datetime2str(dt:datetime)->str:
    return dt.strftime(format_date)

def str2datetime(time:str)->datetime:
    return datetime.datetime.strptime(time, format_date)

In [4]:
datetime2str(dt_now)

'2022-05-06 13:56:01'

In [5]:
dt_now.strftime(format_date)

'2022-05-06 13:56:01'

In [6]:
t2 = '2022-03-20 22:18:48'
dt2 = datetime.datetime.strptime(t2, format_date)

In [7]:
con = sqlite3.connect('example.db')
c = con.cursor()

In [8]:
c.execute('CREATE TABLE User2  (uid int, name varchar(512), like text, last datetime)')

OperationalError: table User2 already exists

In [ ]:
c.execute("INSERT INTO User2 VALUES(2, '福間創', 'シンセサイザ', '{0}')".format(datetime2str(dt_now)))

In [ ]:
con.commit()

In [9]:
def search_name(name:str):
    q = 'SELECT * FROM User2 WHERE name="{0}"'.format(name)
    c.execute(q)
    result = c.fetchall()
    return result

In [10]:
print(search_name("平沢進"))

[(1, '平沢進', 'ギター', '2022-03-22 22:21:05')]

In [11]:
print(datetime.datetime.now() - dt2)

46 days, 15:37:32.354414